//bootstrap 
@import "bootstrap4.scss";
@import "bootstrap4/mixins";
// Reset
@import "global/reset.scss";
// variables 
@import "global/variables.scss";
//  mixins
@import "global/mixins.scss";
// Fonts
@import "global/font.scss";
// Global CSS
@import "global/global.scss";
// buttons
@import "global/buttons.scss";

// navbar
@import "structure/navbar.scss";
// footer
@import "structure/footer.scss";
// banner
@import "structure/banner.scss";
// // accordion
@import "structure/accordion.scss";
// // about
@import "structure/about.scss";
// // forms

@import "global/forms.scss";


.empreendimento{
    h2{
        color: $secondary;
        @include rhythm(36,50);
        font-weight: 700;
    }
    p{
        margin: 2rem 0 1rem 0;
        color: $secondary;
        @include rhythm(16,18);
        font-weight: 400;
    }
    .slider-for{
        img{

        }
    }
    .slider-nav{
        .thumbImg{
            img{

            }
        }
    }
    .btn_first{
        background: $first;
        color: $secondary;
        &:hover{
            background: $secondary;
            color: $third;
        }
    }
    .details{
        h2{
            margin-top: 2.5rem; 
            color: $secondary;
            @include rhythm(24,45);
            font-weight: 700;
        }
        img{

        }
        p{
            padding-top: .7rem;
            color: $secondary;
            @include rhythm(16,18);
            font-weight: 400;
            margin-bottom: 1.5rem;
            margin-top: 0;
        }
        h3{
            color: $secondary;
            @include rhythm(16,18);
            font-weight: 700;
            display: inline-block;
            border-bottom: 1px solid $first;
            padding-bottom: .7rem;
        }
    }
}
.statusemp{
    h2{
        color: $secondary;
        @include rhythm(24,40);
        font-weight: 700;
    }
    p{
        color: $secondary;
        @include rhythm(16,18);
        font-weight: 400;
        margin: 1.5rem 0;
    }
    img{

    }
    h3{
        color: $secondary;
        @include rhythm(16,18);
        font-weight: 700;
        text-align: center;
        margin-bottom: 1.5rem;
    }
}
.map{
    img{
        cursor: pointer;
    }
    padding-bottom: 0;
}

.aboutemp{
    text-align: center;
    p{
        color: $secondary;
        @include rhythm(16,18);
        font-weight: 400;
        & + p{
            margin-top: 1.5rem;
        }
    }
    background: $first;
}
.modal{
    .newsletter{
        .close{
            opacity: 1;
            color: $third;
        }
        h2{
            color: $first;
            @include rhythm(36,50);
            font-weight: 700;
        }
        h3{
            color: $first;
            @include rhythm(24,40);
            font-weight: 700;
        }
        p{
            color: $third;
            @include rhythm(16,18);
            font-weight: 400;
        }
    }
}
html{
    scroll-behavior: smooth;
}
.searchandfilter > ul > li {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
}
.meet{
    #title{
        p{
            color: $secondary;
            font-size: 16px;
            font-weight: 400;
        }
    }
}
.postid-208{
    .main.inner {
        background-size: cover;
        background-position: bottom;
    }
}