
.newsletter{
    @extend %background_secondary;
    h2{
        color: #fff;
        @include rhythm(33, 40);
        font-weight: 700;
    }
    h3{
        @extend %color_first;
        @include rhythm(16, 25);
        margin: 1.5rem 0;
    }
    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output,
    .wpcf7 form.failed .wpcf7-response-output, .wpcf7 form.aborted .wpcf7-response-output{
        color: #fff;
    }
    .form-control{
        color: #fff !important;

    }
    textarea{
        color: #fff !important;
        @include placeholder {
            color: #fff;
            @include rhythm(16, 25);
        }
        padding: 13.6px 20px;
    }
    input[type="submit"]{
        width: auto !important;
    }
}

.newsletter, .contact{
    .form-control, .form-control:focus, .select2-container--default .select2-selection--single{
        background: transparent;
        border-radius: 0;
        @include rhythm(16, 25);   
    }
    input, .select2-container--default .select2-selection--single{
        color: #000;
        @include placeholder {
            color: #fff;
            @include rhythm(16, 25);
        }
        padding: 13.6px 20px;
    }
    input[type="submit"]{
        @extend %background_first;
        @include rhythm(16, 25);
        width: 100%;
        border: 1px solid $first;
        @extend %color_secondary;

        padding: 13.6px 20px;
        &:hover, &:focus{
            @extend %color_third;
        }
    }
}
.content{
    .searchandfilter{
        margin-bottom: 2rem;
        ul{
            padding: 0;
            text-align: center;
            margin: 0 auto;
            li:not(.sf-field-submit){
                @include media-breakpoint-up(md){
                    width: 30%;
                }
                label{
                    width: 100%;
                }
                
            }
            li.sf-field-submit{
                padding: 0;
            }
        }
        select{
            display: block;
            width: 100%;
            padding: 13.6px 20px;
            font-size: 1rem;
            line-height: 1.5;
            color: #000;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        input[type="submit"]{
            @extend %background_first;
            @include rhythm(16, 25);
            width: 100%;
            border: 1px solid $first;
            @extend %color_secondary;
            color: $secondary;
            cursor: pointer;
            font-weight: 700;
            width: auto;
            margin-top: 0;
            padding: 11.6px 20px;
            &:hover, &:focus{
                @extend %color_third;
            }
        }
    }
}
div.wpcf7 .ajax-loader{
    position: absolute;
}
.form-group {
    text-align: left;
}
.contact{
    .form-control, .select2-container--default .select2-selection--single {
        border: 2px solid $secondary;
        width: 100%;
    }
    .select2-container{
        width: 100% !important;
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(4.25rem + -6px);
    }
    input{
        color: #000;
        @include placeholder {
            color: $secondary;
        }
    }
    input[type="submit"]{
        width: auto;
    }
}
.content{
    .form-control{
        border: none;
        border-radius: 0;
        border-bottom: 3px solid #f3f4f4;
        color: #949494;
        @include rhythm(21, 25);
    }
    input{
        @include placeholder {
            color: #949494;
            @include rhythm(21, 25);
        }
        padding: 9.6px 20px;
    }
    input[type="submit"]{
        margin-top: 2rem;
        padding: 19.5px 50px;
    }
}