.main{
    background-size: cover;
    height: auto;
    // background-blend-mode: multiply;
    // background-color: rgba(0, 0, 0,  .6);
    @include media-breakpoint-up(md){
        height: 100vh;
        max-height: 850px;
        background-attachment: fixed;
    }

   
    h1{
        @include rhythm(53, 68);
        @extend %color_third;
        font-weight: 700;
        & > b, & > strong{
            @extend %color_first;
        }
        &.text-green{
            color: $first;
        }
    }
    p.banner{
        font-size: 23px;
    }
    h2{
        @extend %color_third;
        font-weight: 700;
        @include rhythm(20, 28);
        margin: 2.4rem 0;
    }
    &.inner{
        max-height: 68vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: rgba(0,0,0,.3);
    }


}
