footer{
    ul{
        li a{
            background: $first;
            padding: 8px 12px;
            display: flex;
            i{
                font-size: 25px;
                color: $secondary;
                position: relative;
                top: 3px;
            }
        }
    }
}